body.body {
    background-color: lightblue;
}
h1.titulo {
    color: blue;
}
h1.titulo::first-letter {
    color: black;
    font-size: 60px;
}

header.header {
    text-align: center;
}

p.texto::first-line {
    color: red;
}

a.enlaces_cabecera:hover {
    background-color: yellow;
    color: red;
}

a.enlaces:visited {
    background-color: blue;
    color: white;
}
a.enlaces:link {
    background-color: white;
    color: blue;
}

img.imagen{
    position: relative;
    float: right;
    width: 300px;
    height: 300px;
}

h3.contar{
    counter-reset: contar;
}

p.contar::before{
    counter-increment: contar;
    content: counter(contar)". " ;
}