body.body{
    background-color: lightblue;
}
h1.titulo{
    color: blue;
}
h1.titulo::first-letter{
    color: black;
    font-size: 60px;
}

header.header{
    text-align: center;
}

p.texto::first-line{
    color: red;
}